.main-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.spinner-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-data-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section-1-a {
  display: flex;
  justify-content: center;
}
.section-2-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-2-b {
  display: flex;
  text-align: center;
}
.detail {
  background-color: rgb(26, 187, 93);
  border-radius: 4px;
  padding: 5px;
  color: white;
}
.margin-sm {
  padding-bottom: 15px;
}
.main-text-body {
  background-color: rgb(167, 190, 190);
  padding: 5px 0px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 10px;
}
.city-country {
  color: rgb(26, 187, 93);
}
.tem-hum {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.temp-0 {
  margin-bottom: 15px;
}
.wind-deg {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.lat-long {
  display: flex;
  justify-content: center;
  text-align: center;
}
.lat {
  margin-right: 10px;
  text-align: right;
}
.sun-ris-set {
  display: flex;
  text-align: center;
  justify-content: center;
}
.sunrise {
  margin-right: 10px;
}
.emoji-network {
  font-size: 50px;
}
.network-para {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .section-1-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .wind-deg {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .tem-hum {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .met-dis-no {
    display: none;
  }
  .sun-ris-set {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .sunrise {
    margin-bottom: 15px;
  }
}
