body {
  background-image: url("./staticComponents/image_slider.png");
  image-resolution: 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vw;
  overflow: hidden;
}
.big-picture-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vw;
}
@media only screen and (max-width: 1000px) {
  .big-picture-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vw;
  }
}
